.AppWraper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial;
    line-height: 20px;
}

.NavContent{
    display: flex;
    flex-direction: row;
}
.dialogs {
    margin-left: 20px;
    padding: 15px;
    background-color: #fff1d6;
    width: 75%;
}

.DialogsPage {
    margin-left: 20px;
    padding: 15px;
    background-color: #fff1d6;
    width: 75%;
}
