.AppWraper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Courier New";
    line-height: 20px;
}

.NavContent{
    display: flex;
    flex-direction: row;
}



